BODY {
	SCROLLBAR-FACE-COLOR: #f5f4ee; FONT-SIZE: 10px; MARGIN: 2px; SCROLLBAR-3DLIGHT-COLOR: #dfdbc8; SCROLLBAR-ARROW-COLOR: #d68800; SCROLLBAR-TRACK-COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #dfdbc8; BACKGROUND-COLOR: #f4f4f4
}
H1 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; COLOR: #2256a4; TEXT-ALIGN: center; FONT-VARIANT: normal
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2256a4
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c00000; FONT-VARIANT: normal
}
H4 {
	FONT-SIZE: 12px; COLOR: #2256a4
}
A {
	FONT-WEIGHT: normal; COLOR: #2256a4; TEXT-DECORATION: none
}
A:hover {
	BACKGROUND-COLOR: #dfdbc8; TEXT-DECORATION: none
}
TABLE {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 8pt; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse; BORDER-SPACING: 1px
}
TH {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 3px; BORDER-TOP: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px; COLOR: #2256a4; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdbc8
}
TD {
	BORDER-RIGHT: #dfdbc8 1pt; PADDING-RIGHT: 3px; BORDER-TOP: #dfdbc8 1pt; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dfdbc8 1pt; PADDING-TOP: 3px; BORDER-BOTTOM: #dfdbc8 1pt
}
TD.Dark {
	BORDER-RIGHT: #dfdbc8 1pt; PADDING-RIGHT: 3px; BORDER-TOP: #dfdbc8 1pt; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dfdbc8 1pt; PADDING-TOP: 3px; BORDER-BOTTOM: #dfdbc8 1pt; BACKGROUND-COLOR: #dfdbc8
}
TR {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE.InvisibleTable {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0px; BORDER-TOP: 0pt; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0pt; PADDING-TOP: 0px; BORDER-BOTTOM: 0pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: separate; BACKGROUND-COLOR: #f4f4f4
}
TD.InvisibleTable {
	BORDER-RIGHT: 1pt; PADDING-RIGHT: 0px; BORDER-TOP: 1pt; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 1pt; PADDING-TOP: 0px; BORDER-BOTTOM: 1pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.InvisibleTableDark TD {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0px; BORDER-TOP: 0pt; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0pt; PADDING-TOP: 0px; BORDER-BOTTOM: 0pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dfdbc8
}
TD.InvisibleTableDark {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0px; BORDER-TOP: 0pt; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0pt; PADDING-TOP: 0px; BORDER-BOTTOM: 0pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dfdbc8
}
TABLE.VisibleTable {
	BORDER-RIGHT: #2256a4 1px solid; BORDER-TOP: #2256a4 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #2256a4 1px solid; BORDER-BOTTOM: #2256a4 1px solid; BORDER-COLLAPSE: collapse; BORDER-SPACING: 1px
}
.VisibleTable TH {
	BORDER-RIGHT: #2256a4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #2256a4 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: #2256a4 1px solid; COLOR: #2256a4; PADDING-TOP: 3px; BORDER-BOTTOM: #2256a4 1px solid; BACKGROUND-COLOR: #dfdbc8
}
.VisibleTable TD {
	BORDER-RIGHT: #2256a4 1pt solid; PADDING-RIGHT: 3px; BORDER-TOP: #2256a4 1pt solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #2256a4 1pt solid; PADDING-TOP: 3px; BORDER-BOTTOM: #2256a4 1pt solid
}
.VisibleTable TR {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE.ObjectTitleTable {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-SIZE: 10px; BORDER-LEFT: 1px; COLOR: #2256a4; BORDER-BOTTOM: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f4ee
}
TD.TabUnderline {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdbc8
}
TD.Tab {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 2px; BORDER-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px; CURSOR: hand; COLOR: #8e865e; PADDING-TOP: 2px; BORDER-BOTTOM: #8e865e 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #f5f4ee
}
TD.TabHighlighted {
	BORDER-RIGHT: #8e865e 1px; PADDING-RIGHT: 2px; BORDER-TOP: #8e865e 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #8e865e 1px; CURSOR: hand; COLOR: #2256a4; PADDING-TOP: 2px; BORDER-BOTTOM: #8e865e 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #dfdbc8
}
TD.TabSelected {
	BORDER-RIGHT: #8e865e 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #8e865e 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #8e865e 1px solid; CURSOR: hand; COLOR: #2256a4; PADDING-TOP: 2px; BORDER-BOTTOM: 1px; HEIGHT: 20px; BACKGROUND-COLOR: white
}
TD.TabDiag {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
TD.TabDiagHighlighted {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; CURSOR: hand; COLOR: #2256a4; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #f5f4ee
}
TD.TabDiagSelected {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 2px; BORDER-TOP: 1px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px; CURSOR: hand; COLOR: #2256a4; PADDING-TOP: 2px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdbc8
}
.TabDiagList {
	DISPLAY: none; POSITION: relative
}
.TabDiagListVisible {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; DISPLAY: inline; Z-INDEX: 2; LEFT: 4px; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px; POSITION: absolute; TOP: 60px; BACKGROUND-COLOR: white
}
.ContentTab {
	DISPLAY: none
}
.ContentTabVisible {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: inline; FONT-SIZE: 11px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.ContentTabDiag {
	DISPLAY: none; BACKGROUND-COLOR: white
}
.ContentTabDiagVisible {
	DISPLAY: inline; Z-INDEX: 1; LEFT: 6px; POSITION: absolute; TOP: 70px
}
TD.Menu {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 2px; BORDER-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px; CURSOR: hand; COLOR: #8e865e; PADDING-TOP: 2px; BORDER-BOTTOM: 1px
}
TD.MenuHighlighted {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 2px; BORDER-TOP: 1px; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px; CURSOR: hand; COLOR: #2256a4; PADDING-TOP: 2px; BORDER-BOTTOM: 1px
}
TD.MenuSelected {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 2px; BORDER-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px; COLOR: #2256a4; PADDING-TOP: 2px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdbc8
}
TD.SubMenu {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 2px; BORDER-TOP: 1px; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: 1px
}
TD.SubMenuHighlighted {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 2px; BORDER-TOP: 1px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px; PADDING-TOP: 2px; BORDER-BOTTOM: 1px
}
.SubMenu A {
	FONT-SIZE: 10px; COLOR: #2256a4; TEXT-DECORATION: none
}
.SubMenu A:hover {
	FONT-SIZE: 10px; COLOR: #2256a4; TEXT-DECORATION: underline
}
.SubMenuHighlighted A {
	FONT-SIZE: 10px; COLOR: #2256a4; TEXT-DECORATION: none
}
.SubMenuHighlighted A:hover {
	FONT-SIZE: 10px; COLOR: #2256a4; TEXT-DECORATION: underline
}
TABLE.ContentMenu {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
TABLE.ContentMenuVisible {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; DISPLAY: inline; BORDER-LEFT: 1px; BORDER-BOTTOM: 1px
}
TD.Button {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 0px; BORDER-TOP: 1px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 1px; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: 1px
}
TD.ButtonHighlighted {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 0px; BORDER-TOP: 1px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 1px; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #dfdbc8
}
TD.ZoomButton {
	BORDER-RIGHT: #f5f4ee 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f5f4ee 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #f5f4ee 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #8e865e 1px solid; BACKGROUND-COLOR: #f5f4ee
}
TD.ZoomButtonHighlighted {
	BORDER-RIGHT: #dfdbc8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dfdbc8 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #dfdbc8 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #8e865e 1px solid; BACKGROUND-COLOR: #dfdbc8
}
TD.SyncInfo {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
A.TreeLink {
	FONT-SIZE: 10px; CURSOR: hand; COLOR: #6d4b04; TEXT-DECORATION: none
}
A.TreeLinkHighlighted {
	FONT-SIZE: 10px; CURSOR: hand; COLOR: #2256a4; BACKGROUND-COLOR: #dfdbc8; TEXT-DECORATION: none
}
A.TreeLinkSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; CURSOR: hand; COLOR: #2256a4; BACKGROUND-COLOR: #f5f4ee; TEXT-DECORATION: none
}
.ExpandUnExpandComment {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; CURSOR: hand; COLOR: #d68800; TEXT-DECORATION: none
}
.Content {
	BACKGROUND-COLOR: white
}
.Banner {
	BACKGROUND-COLOR: #f5f4ee
}
TABLE.ObjectTitleTable .ObjectTitle_Type {
	FONT-SIZE: x-small
}
TABLE.ObjectTitleTable .ObjectTitle_Name {
	FONT-WEIGHT: bold; FONT-SIZE: x-small
}
.ContentTabDiagVisible .DiagName {
	FONT-WEIGHT: bold; COLOR: #2256a4; TEXT-INDENT: 25px
}
TD.Tab A {
	FONT-SIZE: 10px; COLOR: #8e865e; TEXT-DECORATION: none
}
TD.TabHighlighted A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #2256a4; BACKGROUND-COLOR: #dfdbc8; TEXT-DECORATION: none
}
TD.TabSelected A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #2256a4; TEXT-DECORATION: none
}
TD.TabEmpty {
	BORDER-RIGHT: #8e865e 1px; PADDING-RIGHT: 2px; BORDER-TOP: #8e865e 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #8e865e 1px; COLOR: #e0d4b8; PADDING-TOP: 2px; BORDER-BOTTOM: #8e865e 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #f5f4ee
}
TD.TabEmptySelected {
	BORDER-RIGHT: #8e865e 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #8e865e 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #8e865e 1px solid; COLOR: #e0d4b8; PADDING-TOP: 2px; BORDER-BOTTOM: 1px; HEIGHT: 20px; BACKGROUND-COLOR: white
}
TD.TabEmptyHighlighted {
	BORDER-RIGHT: #8e865e 1px; PADDING-RIGHT: 2px; BORDER-TOP: #8e865e 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #8e865e 1px; COLOR: #e0d4b8; PADDING-TOP: 2px; BORDER-BOTTOM: #8e865e 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #f5f4ee
}
DIR {
	
}
DIR LI {
	
}
DIR LI DIR {
	
}
DIR LI DIR LI {
	
}
DIR LI A {
	
}
DIR LI DIR LI A {
	TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #2256a4; TEXT-DECORATION: none
}
.help {
	FONT-STYLE: italic
}
.Name {
	FONT-WEIGHT: normal; COLOR: black
}
.Text {
	FONT-WEIGHT: normal; COLOR: gray
}
TD.TabFiller {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; BORDER-BOTTOM: #8e865e 1px solid; BACKGROUND-COLOR: #f5f4ee
}
IMG.SeeContent {
	BORDER-RIGHT: powderblue thin solid; BORDER-TOP: powderblue thin solid; BORDER-LEFT: powderblue thin solid; BORDER-BOTTOM: powderblue thin solid
}
A.PushButton {
	BORDER-RIGHT: outset; BORDER-TOP: outset; FLOAT: right; BORDER-LEFT: outset; BORDER-BOTTOM: outset; BACKGROUND-COLOR: silver
}
.Comment {
	
}
.Comment DIR.CommentIndent {
	MARGIN-LEFT: 200px; LIST-STYLE-TYPE: none
}
.Comment DIR.CommentBullet {
	LIST-STYLE-TYPE: square
}
